<div class="container">
<h1 class="container__header">Welcome to my app for diabetic people!</h1>
<h2 class="container__header2">Hope that you'll find this usefull</h2>
<p class="container__info">Please put below your name</p>
<form class="container__form" #userName="ngForm" (submit)="addUserName(userName)">
    <label for="name" ></label>
    <input class="container__form__input" ngModel type="text" name="name" #name="ngModel" minlength="3" required>
    <div class="container__form__error" *ngIf="name.errors?.minlength">Name have to contain at least 3 letters!</div>
    <button class="container__form__button" type="submit" (click)="goToNextPage(name.value)" [disabled]="!userName.valid">Add user name</button>
</form>
</div>

  
<router-outlet></router-outlet>