<main>
    <div class="header__container">
        <h1 class="header__container__h1">Welcome to my app for diabetic people!</h1>
        <h2 class="header__container__h2">Hope that you'll find this usefull</h2>
        <p class="header__container__info">Please put below your name</p>
        <form class="header__container__form" #userName="ngForm" (submit)="addUserName(userName)">
            <label for="name"></label>
            <input class="header__container__form__input" ngModel type="text" name="name" #name="ngModel" minlength="3"
                placeholder="Your name" required>
            <div class="header__container__form__error" *ngIf="name.errors?.minlength;">Name have to contain at least 3 letters!
            </div>
            <button class="header__container__form__button" type="submit" (click)="goToNextPage(name.value,userName)">Add user
                name</button>
        </form>
    </div>

</main>
<router-outlet></router-outlet>