<main class="container">

    <div class="container__userInformation">

        <p class="container__userInformation__title">Summary</p>
        <ul>
            <li class="container__userInformation__value">
                <p>Name: {{username}}</p>
            </li>
            <li class="container__userInformation__value">
                <p class="container__userInformation__value__text">Gender: <strong>
                        {{userData.gender.slice(0,1).toUpperCase() +
                        userData.gender.slice(1).toLowerCase() }}</strong></p>
            </li>

            <li class="container__userInformation__value">
                <p class="container__userInformation__value__text">Age: <strong>{{userData.age}}</strong></p>
            </li>

            <li class="container__userInformation__value">
                <p class="container__userInformation__value__text">Height: <strong> {{userData.height}} cm</strong></p>
            </li>

            <li class="container__userInformation__value">
                <p class="container__userInformation__value__text">Weight: <strong> {{userData.weight}} kg</strong></p>
            </li>

            <li class="container__userInformation__value">
                <p class="container__userInformation__value__text">Comorbidities:
                    <strong>{{userData.comorbidities}}</strong>
                </p>
                <p *ngIf="isFilled"> {{userData.addInfo}}</p>
            </li>
        </ul>

    </div>

    <div class="container__calculate">
        <button class="container__calculate__button" (click)="calculateBmi()">Calculate your BMI</button>
        <p class="container__calculate__score" [ngStyle]="{color: bmiColor}">Your BMI: {{bmi}}</p>

        <div>Your weight is <span *ngIf="isBmiCorrect; else showCommunicate">correct</span></div>

        <ng-template #showCommunicate>not correct</ng-template>

    </div>


    <button class="container__showPopup" #addBlsLevelButton (click)=" openBlsLevelPopup()">Add your blood sugar
        level</button>

    <!--  -->
    <div *ngIf="isClicked" class="container__bls">
        <form class="container__bls__form" #userBsl="ngForm" (submit)="addBlsLevel(userBsl)">
            <div class="container__bls__form__number">
                <p>Your blood sugar level</p>
                <input ngModel name="number" #number="ngModel" class="container__bls__form__number__input" type="number"
                    required min="0" max="500">
            </div>
            <div class="container__bls__form__date">
                <p>Date</p>
                <input ngModel name="date" #date="ngModel" class="container__bls__form__date__input" type="date"
                    required>
            </div>
            <div ngModel name="time" #time="ngModel" class="container__bls__form__time">
                <p>Time</p>
                <input ngModel name="time" #time="ngModel" class="container__bls__form__time__input" type="time"
                    required>
            </div>
            <div class="container__bls__form__buttons">
                <button (click)="submitBlsLevel(userBsl.value)" type="submit"
                    class="container__bls__form__buttons __submit"><i class="fa-solid fa-check"></i></button>
                <button (click)="cancelAddBlsLevel()" class="container__bls__form__buttons __cancel" type="cancel"><i
                        class="fa-solid fa-xmark"></i></button>
            </div>
        </form>
    </div>

    <!-- *ngFor="let popup of popups" -->
    <div class="container__test" *ngFor="let cont of container ">
        <div>{{cont[1]}}</div>
        <div>{{cont[2]}}</div>
        <div>{{cont[3]}}</div>
    </div>

</main>