nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  .anchors {
    display: flex;
    justify-content: center;
    align-items: center;
    &__link {
      margin: 0 10px;
    }
  }
}
