.blsValuePopup {
  &__container {
    &__bls {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 300px;
      height: 330px;
      border: 1px solid black;
      border-radius: 40px;
      &__form {
        display: block;
        margin: auto;

        &__number,
        &__date,
        &__time,
        &__buttons {
          width: 150px;
          margin: 7px 0;
          input {
            width: 100%;
            text-align: center;
          }
        }

        &__number,
        &__date,
        &__time {
          &__title {
            text-align: center;
            margin-bottom: 5px;
            font-size: 16px;
          }
          &__error {
            text-align: center;
            font-size: 14px;
            margin: 5px 0;
          }
        }

        &__buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 150px;
          button {
            padding: 5px;
            margin: 20px 20px 0;
            background-color: #8f8cda;
            border-radius: 50%;
            i {
              display: block;
              margin: auto;
            }
          }
        }
      }
    }
  }
}
