@import "/src/styles.scss";

$buttonHeight: 93%;
$width: 300px;
$margin-bottom: 10px;
$popupHeight: 320px;

.container {
  position: absolute;
  top: 0;
  right: 0;
  width: $width;
  height: $popupHeight;
  border: 1px solid black;
  &__form {
    width: 100%;
    height: $buttonHeight;
    @include flexCenter();
    flex-direction: column;
  }
  &__button {
    display: block;
    margin: 0 auto;
    height: 20px;
    width: calc(0.3 * $width);
  }
}

input.ng-invalid {
  border: 1px solid red;
}

input.ng-untouched,
input.ng-valid {
  border: 1px solid black;
}
