
<div class="container__userInformation">
    <p class="container__userInformation__value">Information about you</p>
    <p class="container__userInformation__value">Name: {{username}}</p>
    <p class="container__userInformation__value">Gender: {{userData.gender}}</p>
    <p class="container__userInformation__value">Age: {{userData.age}}</p>
    <p class="container__userInformation__value">Height: {{userData.height}}</p>
    <p class="container__userInformation__value">Weight: {{userData.weight}}</p>
    <p class="container__userInformation__value">Comorbidities: {{userData.comorbidities}}</p>
</div>