.container {
    width: 100vw;
    height: 80vh;
    &__bls {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 500px;
      height: 300px;
      border: 1px solid black;
  
      &__number,
      &__date,
      &__time,
      &__buttons {
        width: 150px;
        margin: 7px 0;
        input {
          width: 100%;
          text-align: center;
        }
        p {
          margin-bottom: 5px;
          text-align: center;
        }
      }
  
      &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        button {
          margin: 0 20px;
          text-align: center;
        }
      }
    }
  }
  