<div #blsPopup *ngIf="isClicked" class="container__bls">
    <div class="container__bls__number">
        <p>Your blood sugar level</p>
        <input class="container__bls__number__input" type="number"> 
    </div>
    <div class="container__bls__date">
        <p>Date</p>
        <input  class="container__bls__date__input" type="date"> 
    </div>
    <div class="container__bls__time">
        <p>Time</p>
        <input class="container__bls__time__input" type="time"> 
    </div>
    <div class="container__bls__buttons">
        <button type="submit" class="container__bls__buttons __submit">Yes</button>
        <button class="container__bls__buttons __cancel" type="cancel">No</button>
    </div>
</div>